.active {
  font-weight: bold;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 250px;
  max-height: 250px;
  padding: 20px;
}

.avatar-nav {
  height: 25px;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.badge {
  margin-left: 5px;
}

.badge-score {
  margin: 37%;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.card-question {
  width: 60%;
  margin-bottom: 5px;
}

.card-leaderboard {
  width: 70%;
  margin: 5px auto;
}

.card-option {
  margin-bottom: 5px;
  padding: 10px;
}

.card-score {
  margin: 20px;
  width: 30%;
}

.card-single {
  width: 70%;
  margin: auto;
}

.center {
  text-align: center;
}

.hb {
  display: block;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  height:auto;
  overflow:visible;
}

.leaderboard-results {
  margin-top: 10%;
}

.leaderboard-line {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
.link-question {
  color: inherit;
  textDecoration: inherit;
}

.link-question:hover {
  color: inherit;
  text-decoration: none !important;
}

.nav ul {
  display: flex;
}

.nav-right {
  position: absolute;
  right: 40px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 20px;
  margin: 0 auto;
}

.question-detail {
  display: flex;
}

.question-input {
  width: 100%;
}

.question-new-title {
  margin-bottom: 30px;
}

.question-option {
  display: inline;
  padding: 10px;
}

.vl {
  display: block;
  border: 0;
  border-left: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  height:auto;
  overflow:visible;
}