.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-nav {
  height: 25px;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
}

.nav-right {
  position: absolute;
  right: 40px;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.card {
  width: 60%;
  margin: auto;
}

.center {
  text-align: center;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.tile {
  border: 1px solid #dad7d7;
  border-radius: 3px;
}
